*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 5rem;
}

:root {
    --primary: #ff0000;
    --secondary: #454E57;
    --primary-light: #e3472f70;

    --light: #ffffff;
}

body {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background: no-repeat right/cover url("images/bg.png");
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 15vh;
}

.nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav > div > :nth-child(1){
    margin-right: 1rem;
}

.nav .logo {
    width: 4rem;
    height: auto;
}

.nav .logoText {
    font-family: 'Cinzel Decorative', 'poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
}

.nav .icons > a {
    color: var(--light);
    font-size: 2rem;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65vh;
}
.hero .hero__top > * {
    margin-bottom: 1rem;
}
.hero .hero__tagline {
    color: var(--secondary);
    font-family: 'Oldenburg','poppins',sans-serif;
    font-size: 1.5rem;
}

.hero .hero__title {
    color: var(--primary);
    font-family: 'New Rocker','poppins',sans-serif;
    font-size: 3rem;
}

.hero__countdown-notifier {
    color: var(--secondary);
    font-family: 'Cinzel Decorative','poppins', sans-serif;
    margin-bottom:.5rem;
    font-size: 1.25rem;
}

.hero__content .countdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'poppins',sans-serif;
}
.hero__content .countdown div {
    padding:0 2rem;
    position: relative;
}
.hero__content .countdown div:last-child {
    padding-right: 0;
}

.hero__content .countdown div:not(:last-child)::before,
.hero__content .countdown div:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #454E57;
    border-radius: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.hero__content .countdown div:not(:last-child)::after {
    top: 30%;
}
.hero__content .countdown > div > p:nth-of-type(1) {
    color: var(--light);
    font-size: 5rem;
}
.hero__content .countdown > div p:nth-of-type(2) {
    font-size: 1.5rem;
    color: var(--primary);
}

.footer {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-size: 1.5rem;
}

.footer p {
    color: var(--primary-light);
    font-family: 'cabin sketch', 'poppins', sans-serif;
    text-align: center;
}

@media (min-width: 300px) and (max-width: 767px) and (orientation: landscape) {
    .aside.landscape-notifier {
        display: none;
    }
}

@media (max-width:778px) {
    .hero__content .countdown div {
        width: 100px;
    }
    .hero__content .countdown .day, .hero__content .countdown .hour {
        flex-basis: 50%;
    }
    .hero__content .countdown .minute, .hero__content .countdown .second {
        flex-basis: 50%;
    }

    .hero__content .countdown div:not(:last-child)::before,
    .hero__content .countdown div:not(:last-child)::after {
        right: -.75rem;
    }
    .hero__content .countdown div:nth-of-type(2)::before, .hero__content .countdown div:nth-of-type(2)::after {
        display: none;
    }
    .footer p {
        font-size: 1.35rem;
    }
}

@media (max-width:600px) {
    .container {
        padding: 0 2rem;
    }

    .nav .logo {
        width: 50px;
        height: 50px;
    }
    .nav .logoText {
        font-size: 1.5rem;
    }

    .nav .icons>a {
        font-size: 1.5rem;
    }

    .hero .hero__tagline {
        font-size: 1.45rem;
    }
    .hero .hero__title {
        font-size: 2.5rem;
    }

    .hero__content .countdown {
        margin-bottom: 2rem;
    }

    .hero__content .countdown>div:last-child {
        padding-left: 0;
    }

    .hero__content .countdown>div>p:nth-of-type(1) {
        color: var(--light);
        font-size: 3rem;
    }
    
    .hero__content .countdown>div p:nth-of-type(2) {
        font-size: 1.25rem;
        color: var(--primary);
    }
    .footer {
        margin-top: 3rem;
    }
}

@media (max-width: 480px) {
    .hero .hero__tagline {
        font-size: 1.15rem;
    }
    
    .hero .hero__title {
        font-size: 2rem;
    }
    .hero__countdown-notifier {
        color: #d1e8ff;
        background: #0000005e;
        border-radius: 13px;
        padding: 0.5rem;
    }

    .footer {
        bottom: 1rem;
    }

    .footer p {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .nav>div> :nth-child(1){
        margin-right: .5rem;
    }
    .nav .logoText {
        font-size: 1.25rem;
    }
}

@media (max-width:350px) {
    .container {
        padding: 0 1rem;
    }
    .nav .logo {
        width: 30px;
        height: 30px;
    }
    .nav>div> :nth-child(1) {
        margin-right: .25rem;
    }
    .nav .logoText, .nav .icons>a {
        font-size: 1.25rem;
    }

    .hero .hero__tagline {
        font-size: 1rem;
    }
    
    .hero .hero__title {
        font-size: 1.75rem;
    }
}
@media (min-width: 300px) and (max-width: 767px) and (orientation: landscape) {
    body :not(aside) {
        display: none;
    }
    aside.landscape-notifier {
        display: block;
        color: #ffffff;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
    }
}