*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 5rem;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: url("images/bg.png");
    background-position: right;
    background-size:cover;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 15vh;
}

.nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav > div > :nth-child(1){
    margin-right: 1rem;
}

.nav .logo {
    width: 4rem;
    height: auto;
}

.nav .logoText {
    font-family: 'Cinzel Decorative', 'poppins', sans-serif;
    font-size: 2rem;
    color: #ff0000;
}

.nav .icons > a {
    color: #ffffff;
    font-size: 2rem;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: steelblue;*/
    height: 65vh;
}
.hero .hero__top > * {
    margin-bottom: 1rem;
}
.hero .hero__tagline {
    color: #454E57;
    font-family: 'Oldenburg','poppins',sans-serif;
    font-size: 1.5rem;
}

.hero .hero__title {
    color: #ff0000;
    font-family: 'New Rocker','poppins',sans-serif;
    font-size: 3rem;
}

.hero__countdown-notifier {
    color: #454E57;
    font-family: 'Cinzel Decorative','poppins', sans-serif;
    margin-bottom:.5rem;
    font-size: 1.25rem;
}

.hero__content .countdown {
    display: flex;
    justify-content: center;
    font-family: 'poppins',sans-serif;
}
.hero__content .countdown div {
    padding:0 2rem;
    position: relative;
}
.hero__content .countdown div:last-child {
    padding-right: 0;
}

.hero__content .countdown div:not(:last-child)::before,
.hero__content .countdown div:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #454E57;
    border-radius: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hero__content .countdown div:not(:last-child)::after {
    top: 30%;
}

.hero__content .countdown > div > p:nth-of-type(1) {
    color: rgb(255, 255, 255);
    font-size: 5rem;
}

.hero__content .countdown > div p:nth-of-type(2) {
    font-size: 1.5rem;
    color: #ff0000;
}

.footer {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-size: 1.5rem;
}

.footer p {
    color: #e3472f70;
    font-family: 'cabin sketch', 'poppins', sans-serif;
}
/* todo : responsive, countdown */